* {
    font-family: Arial, Helvetica, sans-serif;
    
}

html {
    background: #0791e6;
    height: 100%;
}

body {
    padding: 60px;
}

input {
    color: grey;
    font-size: 1.2rem;
    width: 100%;
}
 

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
    
}

.card p {
    text-align: center;
    color: white;
}

.card img {
    width: 100%;
    max-height: 170px;
}


